# Cabildo de Mujeres STEM - 01

Instalar wordcloud en kernel en caso que no esté instalado

In [ ]:
conda install wordcloud

Primero cargamos las librerias necesarias para procesar texto y hacer nubes de palabras

In [7]:
import pandas as pd
import numpy as np
import string
import re
from collections import Counter
from nltk.corpus import stopwords

Cargamos el archivo con las respuestas

In [8]:
rdata = pd.read_excel("C:/Users/Monin/Documents/Rcran/STEM/respuestas_cabildo_stem_01.xlsx")

Realizamos una general revisión de los datos

In [9]:
rdata.shape
rdata.sample(3)

       ID PREGUNTA  GRUPO                                              TEXTO
10  P2_03       P2      3  Se definieron 3 pilares de la sustentabilidad ...
1   P1_02       P1      2  Ser parte de los espacios para generar diálogo...
2   P1_03       P1      3  En general, todes quisimos participar en este ...

Definimos una función para quitar números y puntuación y dejar en minúscula cada palabra. Guardamos el texto en un nuevo campo llamado 'tokenized'

In [10]:
def clean_text(texto):
    texto= str(texto)
    clean1 = re.sub(r"[^a-z0-9]"," ",str(texto.lower()))
    clean1 = re.sub(r'['+string.punctuation + '’—”'+']', " ",str( texto.lower()))
    return re.sub(r'\W+', ' ', clean1)

rdata['tokenized'] = rdata['TEXTO'].map(lambda x: clean_text(x)) 
rdata['tokenized'].head()

0     qué nos convoca la importancia de la particip...
1    ser parte de los espacios para generar diálogo...
2    en general todes quisimos participar en este c...
3    reunirnos con otras generaciones aportar desde...
4    interés por nuestro rol como mujeres en la soc...
Name: tokenized, dtype: object

Revisamos algunas estadísticas generales y separamos los textos palabra por palabra

In [13]:
rdata['num_wds'] = rdata['tokenized'].apply(lambda x: len(x.split()))
#Alguas estadíticas
print("Promedio: %s \nMáximo: %s \nMínimo: %s" % (rdata['num_wds'].mean(), rdata['num_wds'].max(), rdata['num_wds'].min()))

Promedio: 107.91176470588235
Máximo: 523
Mínimo: 0

Quitamos las palabras que no aportan mayor información descriptiva

In [16]:
rdata = rdata[rdata['num_wds']>4]
rdata['uniq_wds'] = rdata['tokenized'].str.split().apply(lambda x: len(set(x)))
rdata['uniq_wds'].head()

0    33
1    32
2    55
3    60
4    38
Name: uniq_wds, dtype: int64

In [17]:
print("Promedio: %s \nMáximo: %s \nMínimo: %s" % (rdata['num_wds'].mean(), rdata['num_wds'].max(), rdata['num_wds'].min()))

Promedio: 130.85714285714286
Máximo: 523
Mínimo: 7

In [ ]:
Realizamos el mapa de palabras para verlo más bonito